<!-- Content -->
<div id="mainContent">
	<div id="content">
		<div id="pageContent">
			<?php 
				$articleBody = $data['article_body'];
				echo '<h1>Insight Through Illness</h1>';
				echo $articleBody;
			?>
		</div>
		<div id="contactSteph">
			<h3>Contact Steph</h3>
			<form>
				<label>Name</label>
					<input type="text"></br>
				<label>Email</label>
					<input type="text"></br>
				<label>Your Message!</label></br>
					<textArea rows="3" cols="17"></textArea>
				<button>Submit</button>
			</form>
		</div>
	<!-- END FEATURED COLUMNS -->
	</div>
</div>
</div>
